@import 'bootstrap.min.css';

html,
body {
    height: 100%;
    background-color: #DFE4F0;
}

@font-face {
    font-family: Bahnschrift;
    src: url('Bahnschrift.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: Bahnschrift, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ECF1F6;
}

::-webkit-scrollbar-thumb {
    background: #FFF9E6;
}

.content-wrapper {
    line-height: 1.4;
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 25px;
}

.header-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
    padding: 0 20px;
    position: relative;
    font-weight: bold;
    text-align: center;
    color: #3B4252;
    background-color: #F2F5FA;
}

.more-info {
    background-color: #EBF0FA;
    color: #3B4252;
}

.skills {
    background-color: #E3E8F2;
    color: #3B4252;
}

.contact {
    color: #3B4252;
    background-color: #DFE4F0;
}

a:link {
    color: #3B4252;
    text-decoration: underline;
}

a:hover {
    color: #576A9D;
}

a:visited {
    color: #81A1C1;
}

button,
a {
    text-decoration: none;
    color: #E4EAF5;
}

.spacer {
    flex: 1 1 auto;
}

.navbar {
    background-color: #ECF1F6;
    position: static;
}

.navbar a {
    color: #3B4252;
    text-decoration: none;
    padding-left: 10px;
}

.navbar a:hover {
    color: #576A9D;
}

.navbar a {
    padding-right: 10px;
}
