@page "/blog"
@model DyrmanCom.Pages.Blog.Index
@{
    Layout = "_Layout";
}

<div>Welcome to my blog.</div>

<div>
    <ul>
        @foreach (int n in new[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 })
        {
            <li>
                <a href="/blog/@n">Article @n</a>
            </li>
        }
    </ul>
</div>
